@font-face {
  font-family: "Medium";
  src: local("Montserrat-Medium"),
    url("../../components/font/Montserrat-Medium.ttf") format("truetype");
}

/*|---------------| App Color Schema|---------------*/

$primary: #ff6060;
$secondary: #f6f6f6;
$dark: #000000;

$Bg-gradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0),
  rgba(0, 0, 0, 0.5)
);

// /*|---------------| @media #{$BREAKPOINT-DESK}|---------------*/

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";

/*|---------------|MIXINS|---------------*/
@mixin BREAKPOINT-DESK {
  @media #{$BREAKPOINT-DESK} {
    max-width: 1440px;
  }
}
