@import "../../assets/scss/config.scss";

.mainLodging {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.lodging-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  justify-content: space-between;
  padding: 20px 100px 0px 100px;
}

.titleLodging {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  font-weight: 500;
  color: $primary;

  h1 {
    font-size: 36px;
  }
  .h4 {
    font-size: 18px;
  }
}

.ProfilLodging {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 64px;
    border-radius: 50%;
    align-items: center;
  }
  p {
    display: flex;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: $primary;
    max-width: 30%;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

img {
  max-width: 100%;
}
.tagContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
  .tags {
    display: flex;
    margin-left: 0px;
  }
}

.equipementContainer {
  margin: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-between;

  .description,
  .equipments {
    button {
      border-radius: 10px;
      width: 582px;
      font-size: 18px;
    }
    width: 582px;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
