@font-face {
  font-family: "Medium";
  src: local("Montserrat-Medium"), url("../../assets/font/Montserrat-Medium.ttf") format("truetype");
}
/*|---------------| App Color Schema|---------------*/
/*|---------------|MIXINS|---------------*/
.mainLodging {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px 0 100px;
}
@media only screen and (max-width : 768px) {
  .mainLodging {
    padding: 20px;
  }
}
@media only screen and (max-width : 480px) {
  .mainLodging {
    padding: 10px;
  }
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width : 480px) {
  .containerTitle {
    flex-direction: column;
  }
}

.titleLodging {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  color: #ff6060;
  margin-top: 20px;
}
.titleLodging h1 {
  font-size: 36px;
}
@media only screen and (max-width : 768px) {
  .titleLodging h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width : 480px) {
  .titleLodging h1 {
    font-size: 24px;
  }
}
.titleLodging .h4 {
  font-size: 18px;
}
.titleLodging .tags {
  display: flex;
  padding-top: 20px;
  margin-bottom: 10px;
}
.titleLodging .tags .tag {
  margin: 5px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ff6060;
  border-radius: 20px;
}
@media only screen and (max-width : 768px) {
  .titleLodging .tags .tag {
    font-size: 16px;
    padding: 3px 8px;
  }
}
@media only screen and (max-width : 480px) {
  .titleLodging .tags .tag {
    font-size: 10px;
    padding: 2px 5px;
    margin: 2px 1;
  }
}

.containerProfil {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.containerProfil .starContainer {
  justify-content: space-around;
}
@media only screen and (max-width : 480px) {
  .containerProfil {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.ProfilLodging {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ProfilLodging img {
  width: 64px;
  border-radius: 50%;
  align-items: center;
}
@media only screen and (max-width : 480px) {
  .ProfilLodging img {
    width: 32px;
  }
}
.ProfilLodging p {
  display: flex;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  max-width: 30%;
  justify-content: flex-end;
}
@media only screen and (max-width : 768px) {
  .ProfilLodging p {
    margin-right: 10px;
  }
}
@media only screen and (max-width : 480px) {
  .ProfilLodging p {
    font-size: 12px;
  }
}

.lodging-info {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 768px) {
  .lodging-info {
    padding: 10px;
  }
}

.equipementContainer {
  display: flex;
  justify-content: space-between;
}
.equipementContainer .description,
.equipementContainer .equipments {
  width: 582px;
  height: auto;
}
.equipementContainer button {
  width: 100%;
  border-radius: 10px;
}
.equipementContainer .collapse-content {
  font-size: 18px;
}
.equipementContainer .collapse-content ul {
  list-style-type: none;
}
.equipementContainer .collapse-content ul li {
  font-size: 18px;
  color: #ff6060;
  margin-bottom: 10px;
}
@media only screen and (max-width : 768px) {
  .equipementContainer .collapse-content {
    flex-direction: column;
  }
  .equipementContainer .collapse-content .description,
  .equipementContainer .collapse-content .equipments {
    width: 450px;
    height: auto;
  }
}
@media only screen and (max-width : 480px) {
  .equipementContainer .collapse-content {
    font-size: 18px;
  }
  .equipementContainer .collapse-content ul {
    list-style-type: none;
  }
  .equipementContainer .collapse-content ul li {
    font-size: 12px;
    color: #ff6060;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width : 480px) {
  .equipementContainer {
    flex-direction: column;
  }
  .equipementContainer .description,
  .equipementContainer .equipments {
    width: 335px;
    height: auto;
  }
}

img {
  max-width: 100%;
}

.starContainer {
  text-align: right;
  margin-top: 20px;
}
@media only screen and (max-width : 480px) {
  .starContainer {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .starContainer .star svg {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
}/*# sourceMappingURL=Lodging.css.map */